@using Microsoft.AspNetCore.Http;
@model EmployeeModel
@{
    ViewData["Title"] = "Bestellsystem - Aspöck";
    var username = Context.Session.GetString("username");
    <h1>Employee: @username</h1>
}




<select class="category_dropdown">
    <option>Alle Produkte</option>
    @foreach (var category in Model.Categories)
    {
        <option>@category.Name</option>
    }

</select>

<select class="supplier_dropdown">
    <option>Alle Lieferanten</option>
    @foreach (var supplier in Model.SupplierProperties)
    {
        <option>@supplier.CompanyName</option>
    }

</select>



<style>

    .category_dropdown {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
</style>
