@{
    ViewData["Title"] = "Bestellsystem - Aspöck";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="~/images/bestellsystem_logo_weiß.png" alt="bild" class="img-responsive" width="80" height="35" style="margin: 10px 10px 10px 30px" />
        </div>
    </div>
</nav>

<h1>Login</h1>
<form asp-action="Login" method="post" id="form_Login">
    <div>
        <label>Username: </label>
        <input type="text" name="username" />
    </div>

    <div>
        <label>Password: </label>
        <input type="password" name="password" />
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Login" />
    </div>
</form>
<a asp-area="" asp-controller="Home" asp-action="Reset">Passwort vergessen?</a>

</br>
<h1>@ViewBag.Reset</h1>